<h1>Salut <%= @user.email %> !</h1>


<p> Bienvenue chez Lessen! Tu as maintenant accès à tous nos cours particuliers live. Il suffit de s'inscrire au cours qu'il intéresse et d'inviter tes amis à y participer pour que vous puissiez profiter d'un prix réduit et apprendre ensemble. Pour plus d'informations sur chaque cours, rends-toi sur notre site!
</p>


<p>A très bientôt!</p>

<p> The Lessen Team </p>
