// Banner
.lessen-banner {
  text-align: center;
  height: 100vh;
  /* if you have a 70px navbar => height: calc(100vh - 70px); */
  background-size: cover !important;
  display: flex;
  justify-content: center;
  background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.4
) 50%), url(asset-path("2.jpeg"))
}

.titles-banner {
  padding-top: 25vh;
}

.lessen-banner h1 {
  font-size: 40px;
  font-weight: bold;
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color:white;
  padding-bottom: 10px;
}

.title-height {
  padding-top: 30vh;
}

.lessen-banner p {
  text-shadow: 0px 1px rgba(0, 0, 0, 0.2);
  color:white;
  font-size: 35px;
}

.general-info-container p {
  font-size: 15px;
}

.container-how {
  background-color: white;
}
// slider

#textSlider.row {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100% !important;
}
#textSlider div {
  color: #fff;
  font-size:30pt;
}

.slideCol p { margin: 0px !important; }

.scroller {
   height: 70pt;
   line-height: 70pt;
   overflow: hidden;
}
.scroller .inner { animation: 8s normal infinite running scroll; }
@keyframes scroll {
   0%   {margin-top: 0px;}
   40%  {margin-top: 0px;}

   50%  {margin-top: -70pt;}
   80%  {margin-top: -70pt;}

   100% {margin-top: 0px;}
}

// Howitworks
.general-info-container p {
  font-size: 15px;
}

.container-how {
  background-color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  padding-top: 40px;
  padding-bottom: 70px;
  padding-left: 5%;
  padding-right: 5%;
}

.row-how-first {
  display: flex;
  justify-content: center;
  padding-bottom: 30px;
}

.row-how-second {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.lign-how-icon {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.lign-how-icon-text {
  display: flex;
  justify-content: space-around;
  position: relative;
}

.image-student {
  padding-right: 6%;
}

.image-teacher {
  padding-left: 3%;
}

.icon-first {
  padding-right: 154px;
  z-index: 1;
}

.icon-second {
  padding-right: 75px;
   z-index: 1;
}

.icon-third {
  padding-left: 68px;
  z-index: 1;
}

.bordure-how {
  border-bottom: 3px solid #8a3331;
  width: 600px;
  position: absolute;
  padding: 12px;
  z-index: 0;
}

.progress-bar {
  position: relative;
}


// Cards
.cards-container {
  padding: 15px;
}

.container-how-diagram {
  display: flex;
  align-content: center;
  justify-content: center;
  height: 200px;
  width: 616px;
  margin-right: 40px;
}

.bordure-how {
  width: 470px;
}

.container-icon-text {
  font-size: 16px;
  height: 293px;
  width: 627px;
  display: flex;
  justify-content: space-between;
}

.lign-how-icon-text {
  height: 250px;
  width: 475px;
}

.maths-row {
  margin-right: 6px;
  margin-left: -23px;
}

.french-row {
  margin-right: 6px;
  margin-left: -23px;
}


.background-upcoming-cards {
  background-color: #eaeaea;
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
}

.background-popular-cards {
  background-color: white;
  box-shadow: 0 8px 24px rgba(0,0,0,0.08);
}

.image-student {
  margin-right: 50px;
}

.icon-text {
  width: 150px;

  &:last-child .circle-how:after {
    display: none;
  }

  &.active {
    .circle-how {
      opacity: 1;
      &:after {
        width: 186px;
      }
    }
    .how-content {
      opacity: 1;
      margin-top: 0;
    }
  }
}

.circle-how {
  position: relative;
  opacity: 0;
  transition: opacity .5s ease;

  &:after {
    content: '';
    position: absolute;
    background: #8b312f;
    width: 0px;
    transition: all .5s ease;
    height: 3px;
    left: 61px;
  }

  &:last-child:after {
    position: relative;
  }

}

.how-content {
  opacity: 0;
  transition: all 1s ease;
  margin-top: -20px;
}


// .text-icon-one {
//     opacity: 0;
//     transition: all ease .5s;
// }

// .text-icon-one.active {
//     margin-top: 16px;
//     opacity: 1;
// }

// .iamCol {
//   text-align: right;
//   float: left;
//   font-weight: 300;
//   font-size:30pt;
// }
// .iamCol p:nth-child(2) { margin-top: -20pt !important; }
// .slideCol {
//   text-align: left;
//     overflow: hidden;
//   font-weight: 900;
//   display: block;
//   white-space: nowrap;
// }
