.upcoming-classes-title {
  background-color: #EA8C55;
  border-style: outset;
  color: white;
  text-size: bold;
  padding-left: 10px;
  padding-right: 10px;
  padding-top: 5px;
  padding-bottom: 5px;
}


// .button-delete-participation {
//   position:

// }
