.container-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 65px;
  margin-left: 45px;
}

.title {
  margin-top: 30px;
  margin-bottom: 30px;
}

// .search-bar-index {
//   // margin-left: 20px;
//   // margin-right: 0px;
// }

