.container-index {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-right: 65px;
  margin-left: 45px;
}

.title {
  margin-top: 30px;
  margin-bottom: 30px;
}

.container-sort {
  margin-top: 30px;
  position: relative;
  height: 50px;
  width: 100%;
  .sort-by {
    position: absolute;
    right: 80px;
  }
}
// .search-bar-index {
//   // margin-left: 20px;
//   // margin-right: 0px;
// }

