.main-live {
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.livevideo    {
    width: 70%;
    height: 70vh;
    float: left;
    margin: 50px 30px;


}

.chat  {
    width: 30%;
    height: 70vh;
    margin-right: 30px;
    border:1px solid lightgrey;
    border-radius:2px;
}
.chat-header {
  color: black;
  padding: 10px 20px;
  margin-top: 10px;
}

.messages {
      background-color: white;
  font-size: 15px;
  padding: 20px;
  border: 1px solid #ececec;
  border-top: none;
  border-bottom-width: 0;
  height: 85%;
  overflow: scroll;
  border-radius:2px;
}

.message {
  display: flex;
  margin-bottom: 10px;
  &.right {
    flex-direction: row-reverse;
    .message-content {
      background-color: #e87977;
      color: white;
      border-radius: 12px;
      font-size: 14px;
    }
  }
  &.bold {
    .message-content {
      background-color: #ffc54399;
      font-weight: bold;
      border-radius: 12px;
      font-size: 14px;
    }
  }
}

#create-message {
  border-radius:2px;
  padding: 3px;
  background-color: #ffffff;
/*   margin-bottom: 20px;
   */  border: 1px solid #ececec;
   height: 15%;
}


.message-content {
      background-color: #f9ebcc73;
    color: black;
  border-radius: 3px;
  margin: 0 10px;
  padding: 12px 10px 8px 10px;
      border-radius: 12px;
    font-size: 14px;
}

.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}

#chat-btn{
  display:none;
}

textarea.form-control {
    height: auto;
    box-shadow: none;
    border: none;
    border-bottom: 1px solid lightgray;
}

.current-lesson-infos {
  display: flex;
  justify-content: flex-end;
}
