.main-live {
    display:flex;
    justify-content:space-between;
    align-items:center;
}
.livevideo    {
    width: 70%;
    height: 100vh;
    float: left;
}

.chat  {
    width: 30%;
    height: 100vh;
    margin-top: 56px;
}
.chat-header {
  color: black;
  padding: 10px 20px;
  margin-top: 10px;
}

.messages {
  font-size: 15px;
  padding: 20px;
  border: 1px solid #ececec;
  border-top: none;
  border-bottom-width: 0;
  max-height: calc(100vh - 70px - 45px - 61px - 30px);
  overflow: scroll;
}

#create-message {
  padding: 10px;
  background-color: #ffffff;
  margin-bottom: 20px;
  border: 1px solid #ececec;
}


.message-content {
  background-color: #F7F7F7;
  color:grey;
  border-radius: 3px;
  margin: 0 10px;
  padding: 12px 10px 8px 10px;
}

.avatar {
  width: 42px;
  height: 42px;
  border-radius: 50%;
}


