//page layout
.container-showlessons {
  display: flex;
  justify-content: space-between;
  margin: 50px 150px 0 150px;

}
.first-column {
  width: 55%;
}

.card-container-show {
  margin: 0 200px;
}

.second-column {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  margin-left: 40px;
}

.title-sur {
  display: flex;
  justify-content: center;
}

//content design

.box-description {
  padding-top: 10px;
}
.container-showlessons h1 {
  color: #8A3231;
}
.price {
  margin-bottom: 60px;
  padding-left: 59px;
  .price-box {
    background-color: white;
    width: 200px;
    padding: 20px 25px;
    margin-bottom: 25px;
    border: 5px solid white;
    border-radius: 2px;
    color: black;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
}



.lign-a .h1 {
    letter-spacing: 3px;
}

div.bordure {
border-bottom:1px solid grey;
}

.text-space-profile {
  padding-top: 40px;
}

.btn-position {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 50px;
  margin-right: 64px;

}

.background-related{
  background-color: white;
  box-shadow: 2px 2px 2px 4px rgba(grey, 0.1);
  padding-top: 20px;
  .container-related {
    padding-bottom: 40px;
    margin-right: 160px;
    margin-left: 160px;
      .container-box {
      padding-top: 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}

.review-box {
  overflow: scroll;
  justify-content: center;
  font-size: 14px;
  color: grey;
}

.related-lesson-card {
  margin: 10px;
}
.inline {
  display: inline
}

.margin-left-20 {
  margin-left: 20px;
}

.margin-bottom-20 {
  margin-bottom: 20px;
}

.teacher-title {
  display: flex;
  align-items: center;
}
// .card-container-show h4 {
//   background-color: #EA8C55;
//   border-style: outset;
//   color: white;
//   padding-top: 10px;
//   padding-bottom: 10px;
//   padding-left: 10px;
// }


.card-container-show {
padding-top: 30px;
}


.background-related-cards {
  margin-top: 30px;
  padding-bottom: 10px;
  background-color: #eaeaea;
  box-shadow: 0 8px 24px rgba(0,0,0,0.05);
}
