//page layout
.container-showlessons {
  display: flex;
  justify-content: space-between;
  margin-top: 50px;
  margin-bottom: 50px;
  margin-right: 230px;
  margin-left: 230px;
}

.second-column {
  display: flex;
  width: 40%;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
}

//content design
.first-column {
  width: 40%;
  text-align: justify;
}

.box-description {
  padding-top: 10px;
}

.price {
  margin-top: 40px;
  margin-bottom: 40px;
  .price-box {
    background-color: #ed756f;
    width: 200px;
    padding: 20px 25px;
    border: 1.2px solid #ed756f;
    border-radius: 2px;
    color: white;
    box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
  }
}

.review-container {

}

.review-box {
  margin: 15px;
  text-align: center;
}

.lign-a .h1 {
    letter-spacing: 3px;
}

div.bordure {
border-bottom:1px solid grey;
}

.text-space-profile {
  padding-top: 40px;
}

.btn-position {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-bottom: 40px;

}

.background-related{
  background-color: white;
  box-shadow: 2px 2px 2px 4px rgba(grey, 0.1);
  padding-top: 20px;
  .container-related {
    padding-bottom: 40px;
    margin-right: 230px;
    margin-left: 230px;
      .container-box {
      padding-top: 20px;
      display: flex;
      justify-content: space-around;
      align-items: center;
    }
  }
}

