.container-index-participations {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  margin-top: 30px;
  margin-left: 7%;
  margin-right: 7%;
}

.row-current-lesson {
  display: flex;
  justify-content: flex-start;
  flex-wrap: wrap;
  .lesson-card {
    margin: 17px;
  }
}
