<div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://noce.edu/application/files/8714/7986/0197/gcen-equity.png');">
  <div class="card-subject">Subject</div>
  <div class="card-lesson-info">
    <h2>Subtopic</h2>
    <p>Description</p>
  </div>
  <img class="card-professor" src="https://kitt.lewagon.com/placeholder/cities/shanghai">
  <button class="card-price-button">€7.50</button>
  <a class="card-link" href="#" ></a>
</div>
