<div class="lesson-card">
  <div class="card-top-half" style="background-image: linear-gradient(rgba(0,0,0,0.1), rgba(0,0,0,0.2)), url('https://freerangestock.com/sample/32119/a-stack-of-books-isolated-on-a-white-background.jpg');">
   <div class="card-position-triangle">
    <div class="card-subject"><%= lesson.where(topic: "Mathématiques") %></div>
    <img class="card-professor" src="https://kitt.lewagon.com/placeholder/cities/shanghai">
    <svg class="card-triangle" height="80" width="270">
      <polygon points="270 0 270 80 0 80" style="fill: #FFE8D1;" viewBox="0 0 235 25" preserveAspectRatio="xMinYMax slice" / >
    </svg>
   </div>
  </div>
  <div class="card-lesson-info">
    <button class="card-price-button">€7.50</button>
    <h2><%= lesson.subtopic %></h2>
    <p><%= lesson.description %></p>
   <a class="card-link" href="#" ></a>
  </div>
</div>
