
<% content_for :navbar_id, "navbar_home" %>
<div class="lessen-banner">
  <div class="lessen-banner-content">
    <h1>Learn instantly</h1>
  </div>
</div>
<div class="cards-container">
  <div class="row">
    <h2>Subject Category</h2>
    <div class="col-xs-12 col-sm-4 offset-sm-1">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://noce.edu/application/files/8714/7986/0197/gcen-equity.png');">
        <div class="card-subject">Subject</div>
        <div class="card-lesson-info">
          <h2>Subtopic</h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident eligendi qui neque inventore, numquam quibusdam enim, adipisci possimus quod omnis fugiat! Porro, nam, voluptas! Suscipit illo, cupiditate officiis ex aspernatur?</p>
          <p></p>
        </div>
        <img class="card-professor" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <button class="card-price-button">€7.50</button>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4 offset-sm-1">
     <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://noce.edu/application/files/8714/7986/0197/gcen-equity.png');">
       <div class="card-subject">Subject</div>
       <div class="card-lesson-info">
         <h2>Subtopic</h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident eligendi qui neque inventore, numquam quibusdam enim, adipisci possimus quod omnis fugiat! Porro, nam, voluptas! Suscipit illo, cupiditate officiis ex aspernatur?</p>
         <p></p>
       </div>
       <img class="card-professor" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
       <button class="card-price-button">€7.50</button>
       <a class="card-link" href="#" ></a>
     </div>
    </div>
    <div class="col-xs-12 col-sm-4 offset-sm-1">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://noce.edu/application/files/8714/7986/0197/gcen-equity.png');">
        <div class="card-subject">Subject</div>
        <div class="card-lesson-info">
          <h2>Subtopic</h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident eligendi qui neque inventore, numquam quibusdam enim, adipisci possimus quod omnis fugiat! Porro, nam, voluptas! Suscipit illo, cupiditate officiis ex aspernatur?</p>
          <p></p>
        </div>
        <img class="card-professor" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <button class="card-price-button">€7.50</button>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
  <div class="row">
    <h2>Subject Category</h2>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://noce.edu/application/files/8714/7986/0197/gcen-equity.png');">
        <div class="card-subject">Subject</div>
        <div class="card-lesson-info">
          <h2>Subtopic</h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident eligendi qui neque inventore, numquam quibusdam enim, adipisci possimus quod omnis fugiat! Porro, nam, voluptas! Suscipit illo, cupiditate officiis ex aspernatur?</p>
          <p></p>
        </div>
        <img class="card-professor" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <button class="card-price-button">€7.50</button>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
    <div class="col-xs-12 col-sm-4">
     <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.4), rgba(0,0,0,0.2)), url('https://noce.edu/application/files/8714/7986/0197/gcen-equity.png');">
       <div class="card-subject">Subject</div>
       <div class="card-lesson-info">
         <h2>Subtopic</h2>
         <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident eligendi qui neque inventore, numquam quibusdam enim, adipisci possimus quod omnis fugiat! Porro, nam, voluptas! Suscipit illo, cupiditate officiis ex aspernatur?</p>
       </div>
       <img class="card-professor" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
       <button class="card-price-button">€7.50</button>
       <a class="card-link" href="#" ></a>
     </div>
    </div>
    <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.2)), url('https://noce.edu/application/files/8714/7986/0197/gcen-equity.png');">
        <div class="card-subject">Subject</div>
        <div class="card-lesson-info">
          <h2>Subtopic</h2>
          <p>Lorem ipsum dolor sit amet, consectetur adipisicing elit. Provident eligendi qui neque inventore, numquam quibusdam enim, adipisci possimus quod omnis fugiat! Porro, nam, voluptas! Suscipit illo, cupiditate officiis ex aspernatur?</span></p>
        </div>
        <img class="card-professor" src="https://kitt.lewagon.com/placeholder/users/tgenaitay">
        <button class="card-price-button">€7.50</button>
        <a class="card-link" href="#" ></a>
      </div>
    </div>
  </div>
</div>




