<div class="container-showlessons">
    <div class="first-column">
      <h1>Mathematics</h1>
      <h4>Trigonometry</h4>
      <h6><em>45 minutes class</em></h6>
      <div class="box-description">
      <h4>About this class</h4>
      <p>Contrairement à une opinion répandue, le Lorem Ipsum n'est pas simplement du texte aléatoire. Il trouve ses racines dans une oeuvre de la littérature latine classique datant de 45 av. J.-C., le rendant vieux de 2000 ans. Un professeur du Hampden-Sydney College, en Virginie, s'est intéressé à un des mots latins les plus obscurs, consectetur, extrait d'un passage du Lorem Ipsum, et en étudiant tous les usages de ce mot dans la littérature classique.</p>
      <h1 class="lign-a"></h1>
      <div class="bordure"></div>
      <h1 class="lign-a"></h1>
      <h4>Skills in this class</h4>
      <p>
      L'extrait standard de Lorem Ipsum utilisé depuis le XVIè siècle est reproduit ci-dessous pour les curieux. Les sections 1.10.32 et 1.10.33 du "De Finibus Bonorum et Malorum" de Cicéron sont aussi reproduites dans leur version originale, accompagnée de la traduction anglaise de H. Rackham (1914).
      </p>
      <br>
      <hr>
      <br>
      <h4>Objectives</h4>
      <p>1. Formules de multiplication des arcs</p>
      <p>2. Identité remarquable</p>
      <p>3. Fonctions trigonométriques</p>
      </div>
    </div>
    <div class="second-column">
      <div class="price">
        <h4>NOW</h4>
        <p>15 €</p>
      </div>
      <div class="card-profile">
      <h4>Profile</h4>
      <p>Contrairement à une opinion répandue, le Lorem Ipsum n'est pas simplement du texte aléatoire. Il trouve ses racines dans une oeuvre de la littérature latine classique datant de 45 av. J.-C., le rendant vieux de 2000 ans. Un professeur du Hampden-Sydney College, en Virginie, s'est intéressé à un des mots latins les plus obscurs, consectetur, extrait d'un passage du Lorem Ipsum, et en étudiant tous les usages de ce mot dans la littérature classique, découvrit la source incontestable du Lorem Ipsum.</p>
      </div>
    </div>
  </div>
</div>
