.btn-lessen {
  width: 200px;
  padding: 10px 15px;
  border: 1.3px solid #001427;
  border-radius: 5px;
  color: #001427;
}

.btn-lessen:hover {
opacity: 1;
background-color: #8a3331;
color: white;
text-decoration: none;
}

#btn-lessen-search {
  width: 200px;
  height: 57px;
  border-radius: 5px;
  font-weight: lighter;
  background-color: #8a3331;
  color: white;
  font-size: 32px;
  border: none;
  &:focus {
    outline: none;
  }
}

#btn-lessen-search-index {
  background-color: #66DDFF;
  width: 80px;
  height: 50px;
  border-radius: 5px;
  font-weight: lighter;
  background-color: #8a3331;
  color: white;
  font-size: 30px;
  &:focus {
    outline: none;
  }
}
