.btn-lessen {
  width: 200px;
  padding: 10px 15px;
  border: 1px solid #ed756f;
  border-radius: 5px;
  font-weight: lighter;
  color: #ed756f;
}

.btn-lessen:hover {
opacity: 1;
background-color: #ed756f;
color: white;
text-decoration: none;
}

.btn-lessen-search {
  background-color: #66DDFF;
  width: 200px;
  padding: 15px 15px;
  border-radius: 5px;
  font-weight: lighter;
  color: #001427;
  font-size: 30px;
}
