

.lesson-card {
  height: 380px;
  width: 270px;
  // text-shadow: 0 1px 1px rgba(0,0,0,0.6);

  background-color: #FFE8D1;
  background-position: center;
  color: #001427;
  position: relative;
  margin-bottom: 30px;
  margin-top: 30px;
}
.card-professor {
  position: absolute;
  right: 10px;
  height: 50px;
  top: 10px;
  width: 50px;
  border-radius: 50%;
}
.card-subject {
  position: absolute;
  top: 15px;
  left: 18px;
  font-size: 18px;
  text-transform: uppercase;
  color: #001427;
}
.card-lesson-info {
  position: absolute;
  bottom: 10px;
  left: 10px;
  text-align: right;
  margin-right: 12px;
}
.card-lesson-info h2 {
  font-size: 20px;
  color: #001427;
  font-weight: bold;
  margin-bottom: 5px;
}
.card-lesson-info p {
  font-size: 12px;
  opacity: 0.9;
  font-weight: lighter;
  color: #001427;
}
.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 2;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.1;
}


.card-top-half {
  height: 220px;
  width: 270px;
  overflow: hidden;
  background-position: center;
  background-size: cover !important;
}


.card-triangle {
  position: absolute;
  bottom: 0;
  right: 0;
  left: 0;
}

.card-position-triangle {
  display: flex;
  position: relative;
  height: 100%;
}

.card-profile {
  background-color: white;
  margin-top: 100px;
  padding: 30px;
  padding-top: 10px;
  box-shadow: 2px 2px 2px 1px rgba(0, 0, 0, 0.2);
}
