

.lesson-card {
  height: 400px;
  width: 295px;
  color: rgb(30, 30, 30);
  margin-bottom: 30px;
  margin-top: 30px;
  box-shadow: 3px 3px 5px lightgrey;
  h4, h5 {
    margin: 0;
  }
  position: relative;
}

.card-header {
  height: 140px;
  background-color: white;
  display: flex;
  justify-content: space-between;
  padding: 10px 15px;
}


.card-body {
  height: 180px;
  position: relative;


}
.math-color {
  background-color: #35A7FF;
  fill: #35A7FF
}

.french-color {
  background-color: #FF5964;
  fill: #FF5964;
}

.physics-color {
  background-color: #FFE74C;
  fill: #FFE74C;
}

.svt-color {
  background-color: #6BF178;
  fill: #6BF178;
}

.philo-color {
  background-color: #e75a7c;
  fill: #e75a7c
}



.card-lesson-info {
  position: absolute;
  padding: 10px 15px;
  top: -18px;
  h2 {
    text-align: right;
    margin: 0;
    font-size: 18px;
    font-weight: bold;
    margin-bottom: 10px;
  }
  p {
    margin: 0;
    font-size: 14px;
  }
}
.card-position-triangle {
  position: absolute;
  top: -80px
}

.card-footer {
  height: 80px;
  display: flex;
  align-items: center;
  padding: 10px 15px;
}

.card-date {
  p {
    margin: 0;
    font-weight: bold;
  }
  em {
    font-size: 14px;
  }
  text-align: center;
}

.professor-info {
  height: 50px;
  margin-left: 15px;
  p {
    margin: 0;
  }
}

.card-link {
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  width: 100%;
  z-index: 1000;
  background: black;
  opacity: 0;
}
.card-link:hover {
  opacity: 0.02;
}

.card-stars {
  display: flex;
}
