#live-countdown {
  color: #f37f7f;
  text-transform: uppercase;
  text-weight: bold;
  font-size: 30px;
  padding-top: 10px;
}

.live-countdown-text p {
  margin-top: -20px;
  color: black;
  padding-top: 30px;
}
