.search-bar-index {
  // display: flex;
  align-items : flex-end;
  // justify-content: space-around;
  color: #ee5f5b;
  width: 140%;
  margin: 0 auto;
  height: 60px;
  margin-top: -5px;
}

.search-bar-show {
  display: flex;
  align-items : flex-end;
  // justify-content: space-around;
}
.search-grade-topic-subtopic {
  display: flex;
  align-items: center;
}

.search-date-time-index {
  display: flex;
  align-items: center;
  margin-left: 50px;
  height: 60px;
}
.search-input-index {
  height: 50px;
  border-radius: 5px;
  color: grey;
  background-color: white !important;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

.query_grade, .query_topic {
  width: 26%;
  margin: 5px;
}
#query_min_time, #query_max_time {
  width: 40px;
  margin: 10px 0;
  -webkit-appearance: none;
  -webkit-border-radius: 0px;
}

.query_keyword {
  margin: 5px;
}

#search-button {
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  position: relative;
  top: -2px;
  font-size: 36px;

}

#search-button-show {
  width: 50px;
  height: 50px;
  background: transparent;
  border: none;
  position: relative;
  top: -9px;
  font-size: 36px;
}

.query_grade_home, .query_topic_home {
  width: 35%;
}


.search-group {
  padding-top: 8vh;
}

.search-bar-home {
  display: flex;
  align-items : center;
  justify-content: space-around;

  select.form-control {
    height: 57px;
    color: grey;
  }
}


input.form-control {
  background: white;
}



.time-filter {
  width: 100px !important;
  background-color: white !important;
  height: 50px;
  border-radius: 5px;
}

.end-time-end {
    margin-left: -4px !important;
}

.form-group {
  margin: 10px 0px;
}

.container-sort {
  margin-top: 20px;
  margin-bottom: 30px;
  position: relative;
  height: 50px;
  width: 100%;
  .sort-by {
    width: 15%;
    position: absolute;
    right: 80px;
  }
}
