<div class="reviews-list margin-bottom-20">
  <div class="inline">
    <% review.rating.times do %>
      <i class="fas fa-star"></i>
    <% end %>
    <% (5 - review.rating).times do %>
      <i class="fas fa-star grey"></i>
    <% end %>
  </div>

  <p class="inline margin-left-20 ">"<%= review.content %>"</p>
</div>
